<%= form_for(@baseurl) do |f| %>
  <% if @baseurl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baseurl.errors.count, "error") %> prohibited this baseurl from being saved:</h2>

      <ul>
      <% @baseurl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :baseurl %><br>
    <%= f.text_area :baseurl %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :paging_parameter %><br>
    <%= f.text_area :paging_parameter %>
  </div>
  <div class="field">
    <%= f.label :paging_max %><br>
    <%= f.number_field :paging_max %>
  </div>
  <div class="field">
    <%= f.label :paging_add %><br>
    <%= f.number_field :paging_add %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
